In [2]:
import pandas as pd 
import ast
pd.set_option('display.max_rows', None)

In [3]:
animes=pd.read_csv('Data_csv/animes.csv')
credits=pd.read_csv('Data_csv/credits.csv')

In [4]:
credits=pd.DataFrame(credits)
animes.head(5)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts21930,Lupin the Third,SHOW,Arsene Lupin III is the grandson of the master...,1971,TV-14,23,"['scifi', 'animation', 'action', 'comedy', 'cr...",['JP'],6.0,tt0159175,7.9,2116.0,45.829,8.0
1,ts25177,Mobile Suit Gundam,SHOW,Mobile Suit Gundam is a televised anime series...,1979,TV-Y7,25,"['scifi', 'war', 'animation', 'action', 'drama...",['JP'],1.0,tt0159172,7.9,2281.0,41.250,8.1
2,ts35087,Galaxy Express 999,SHOW,Galaxy Express 999 is a manga written and draw...,1978,TV-PG,24,"['scifi', 'action', 'drama', 'animation']",['JP'],1.0,tt0185066,7.8,459.0,5.064,8.3
3,ts82387,Lupin the 3rd,SHOW,The master thief Lupin III and his cronies con...,1977,TV-14,24,"['scifi', 'animation', 'action', 'comedy', 'cr...",['JP'],4.0,tt0159192,8.0,1738.0,0.600,NaN
4,ts2846,Chōdenji Machine Voltes V,SHOW,Chōdenji Machine Voltes V is a Japanese anime ...,1977,TV-PG,24,"['drama', 'action', 'scifi', 'animation']",['JP'],1.0,tt0159855,8.1,207.0,12.625,7.3

In [5]:
credits.head(5)

,person_id,id,name,character,role,title,type,age_certification,age_certification.1
0,110613,ts21930,Kanichi Kurita,Lupin Sansei (voice),ACTOR,Lupin the Third,SHOW,TV-14,TV-14
1,11377,ts21930,Daisuke Namikawa,Ishikawa Goemon (voice),ACTOR,Mobile Suit Gundam,SHOW,TV-Y7,TV-Y7
2,452,ts21930,Miyuki Sawashiro,Mine Fujiko (voice),ACTOR,Galaxy Express 999,SHOW,TV-PG,TV-PG
3,348,ts21930,Akio Otsuka,Daisuke Jigen (voice),ACTOR,Lupin the 3rd,SHOW,TV-14,TV-14
4,22311,ts21930,Koichi Yamadera,Zenigata (voice),ACTOR,Chōdenji Machine Voltes V,SHOW,TV-PG,TV-PG

In [6]:
animes=animes.merge(credits,on='title')
animes.dropna(inplace=True)

In [7]:
print(animes.columns)

Index(['id_x', 'title', 'type_x', 'description', 'release_year',
       'age_certification_x', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity',
       'tmdb_score', 'person_id', 'id_y', 'name', 'character', 'role',
       'type_y', 'age_certification_y', 'age_certification.1'],
      dtype='object')

In [8]:
animes=animes[['id_x','title','description','genres']]

In [9]:
animes.head(5)

,id_x,title,description,genres
0,ts21930,Lupin the Third,Arsene Lupin III is the grandson of the master...,"['scifi', 'animation', 'action', 'comedy', 'cr..."
1,ts25177,Mobile Suit Gundam,Mobile Suit Gundam is a televised anime series...,"['scifi', 'war', 'animation', 'action', 'drama..."
2,ts35087,Galaxy Express 999,Galaxy Express 999 is a manga written and draw...,"['scifi', 'action', 'drama', 'animation']"
4,ts2846,Chōdenji Machine Voltes V,Chōdenji Machine Voltes V is a Japanese anime ...,"['drama', 'action', 'scifi', 'animation']"
5,ts32935,Space Pirate Captain Harlock,"Follows Captain Harlock, an outcast turned spa...","['action', 'scifi', 'animation', 'drama', 'fan..."

In [10]:
def convert(text):
    if isinstance(text, str):
        try:
            parsed = ast.literal_eval(text)
            if isinstance(parsed, list) and all(isinstance(i, dict) and 'name' in i for i in parsed):
                return [i['name'] for i in parsed]
            else:
                return parsed
        except (ValueError, SyntaxError):
            return text
    return text

In [11]:
animes['genres']=animes['genres'].apply(convert)

In [12]:
animes.head(5)

,id_x,title,description,genres
0,ts21930,Lupin the Third,Arsene Lupin III is the grandson of the master...,"[scifi, animation, action, comedy, crime]"
1,ts25177,Mobile Suit Gundam,Mobile Suit Gundam is a televised anime series...,"[scifi, war, animation, action, drama, fantasy]"
2,ts35087,Galaxy Express 999,Galaxy Express 999 is a manga written and draw...,"[scifi, action, drama, animation]"
4,ts2846,Chōdenji Machine Voltes V,Chōdenji Machine Voltes V is a Japanese anime ...,"[drama, action, scifi, animation]"
5,ts32935,Space Pirate Captain Harlock,"Follows Captain Harlock, an outcast turned spa...","[action, scifi, animation, drama, fantasy]"

In [13]:
animes['description']=animes['description'].apply(lambda x: x.split())

In [14]:
animes.head(5)

,id_x,title,description,genres
0,ts21930,Lupin the Third,"[Arsene, Lupin, III, is, the, grandson, of, th...","[scifi, animation, action, comedy, crime]"
1,ts25177,Mobile Suit Gundam,"[Mobile, Suit, Gundam, is, a, televised, anime...","[scifi, war, animation, action, drama, fantasy]"
2,ts35087,Galaxy Express 999,"[Galaxy, Express, 999, is, a, manga, written, ...","[scifi, action, drama, animation]"
4,ts2846,Chōdenji Machine Voltes V,"[Chōdenji, Machine, Voltes, V, is, a, Japanese...","[drama, action, scifi, animation]"
5,ts32935,Space Pirate Captain Harlock,"[Follows, Captain, Harlock,, an, outcast, turn...","[action, scifi, animation, drama, fantasy]"

In [15]:
def collapse(text):
    l1=[]
    for i in text:
        l1.append(i.replace(' ',''))
    return l1

In [16]:
animes['description']=animes['description'].apply(collapse)
animes['genres']=animes['genres'].apply(collapse)

In [17]:
animes['tags']=animes['description']+animes['genres']

In [18]:
new=animes.drop(columns=['genres','description'])

In [19]:
new.head(5)

,id_x,title,tags
0,ts21930,Lupin the Third,"[Arsene, Lupin, III, is, the, grandson, of, th..."
1,ts25177,Mobile Suit Gundam,"[Mobile, Suit, Gundam, is, a, televised, anime..."
2,ts35087,Galaxy Express 999,"[Galaxy, Express, 999, is, a, manga, written, ..."
4,ts2846,Chōdenji Machine Voltes V,"[Chōdenji, Machine, Voltes, V, is, a, Japanese..."
5,ts32935,Space Pirate Captain Harlock,"[Follows, Captain, Harlock,, an, outcast, turn..."

In [20]:
new['tags']=new['tags'].apply(lambda x: " ".join(x))

In [21]:
new.head(5)

,id_x,title,tags
0,ts21930,Lupin the Third,Arsene Lupin III is the grandson of the master...
1,ts25177,Mobile Suit Gundam,Mobile Suit Gundam is a televised anime series...
2,ts35087,Galaxy Express 999,Galaxy Express 999 is a manga written and draw...
4,ts2846,Chōdenji Machine Voltes V,Chōdenji Machine Voltes V is a Japanese anime ...
5,ts32935,Space Pirate Captain Harlock,"Follows Captain Harlock, an outcast turned spa..."

In [22]:
#modelo de machine learning

In [23]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=500, stop_words='english')

In [24]:
vector=cv.fit_transform(new['tags']).toarray()

In [25]:
vector.shape

(554, 500)

In [26]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vector)
similarity

array([[1.        , 0.18463724, 0.15811388, ..., 0.24333213, 0.15811388,
        0.28867513],
       [0.18463724, 1.        , 0.33734954, ..., 0.15974461, 0.03892495,
        0.07106691],
       [0.15811388, 0.33734954, 1.        , ..., 0.10259784, 0.03333333,
        0.06085806],
       ...,
       [0.24333213, 0.15974461, 0.10259784, ..., 1.        , 0.05129892,
        0.18731716],
       [0.15811388, 0.03892495, 0.03333333, ..., 0.05129892, 1.        ,
        0.27386128],
       [0.28867513, 0.07106691, 0.06085806, ..., 0.18731716, 0.27386128,
        1.        ]])

In [27]:
# Check for similar titles
similar_titles = new[new['title']=='Ninja Nonsense'].index[0]
print(similar_titles)

227

In [28]:
def recommended(animes):
    index=new[new['title']==animes].index[0]
    distances=sorted(list(enumerate(similarity[index])) ,reverse=True, key=lambda x:x[1])
    
    for i in distances[1:10]:
        print(new.iloc[i[0]].title)

In [29]:
print('recomendacion basada en Ninja Nonsense\n')
recommended("Yu-Gi-Oh! GX")

recomendacion basada en Ninja Nonsense

Blade Runner: Black Lotus
Back Arrow
FLCL
Princess Connect! Re:Dive
My Next Life as a Villainess: All Routes Lead to Doom!
DEATH NOTE
Gurren Lagann
Yu-Gi-Oh!
The Rising of the Shield Hero

In [30]:
import pickle
pickle.dump(new,open('animes_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

In [31]:
animess_list=pickle.load(open('animes_list.pkl','rb'))

In [43]:
animess_list.head(2)

,id_x,title,tags
0,ts21930,Lupin the Third,"Arsene Lupin III is the grandson of the master thief Arsene Lupin. With his cohorts Daisuke Jigen and Goemon Ishikawa XIII and his love interest Fujiko Mine, he pulls off the greatest heists of all time while always escaping the grasp of Inspector Koichi Zenigata. scifi animation action comedy crime"
1,ts25177,Mobile Suit Gundam,"Mobile Suit Gundam is a televised anime series, produced by Sunrise. Created and directed by Yoshiyuki Tomino, it premiered in Japan on Nagoya Broadcasting Network on April 7, 1979, and lasted until January 26, 1980, spanning 43 episodes. It was the very first Gundam series, which has subsequently been adapted into numerous sequels and spin-offs. In 1981, the series was re-edited for theatrical release and split into three movies. The characters were designed by Yoshikazu Yasuhiko, and Kunio Okawara was responsible for the mechanical designs, including the eponymous giant robot, the RX-78-2 Gundam. The first movie was released on February 22, 1981. scifi war animation action drama fantasy"

In [33]:
generos=animes[['id_x','title','genres']]
generos=pd.DataFrame(generos)
print(type(generos))

<class 'pandas.core.frame.DataFrame'>

In [34]:
# Codificar los géneros usando one-hot encoding

genres_df = generos['genres'].str.get_dummies(sep=',')

In [35]:
# Normalizar los datos de géneros

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
genres_scaled = scaler.fit_transform(genres_df)

In [36]:
# Crear una matriz de similitud entre las películas

similarity_matrix = cosine_similarity(genres_scaled)
similarity_matrix

array([[ 1.        ,  0.03952308,  0.06227688, ..., -0.06443608,
        -0.09982939, -0.01629808],
       [ 0.03952308,  1.        ,  0.20612535, ...,  0.05806707,
        -0.19782678, -0.04164244],
       [ 0.06227688,  0.20612535,  1.        , ..., -0.35761454,
         0.18889504, -0.11942224],
       ...,
       [-0.06443608,  0.05806707, -0.35761454, ...,  1.        ,
        -0.18654644, -0.00959476],
       [-0.09982939, -0.19782678,  0.18889504, ..., -0.18654644,
         1.        ,  0.15565882],
       [-0.01629808, -0.04164244, -0.11942224, ..., -0.00959476,
         0.15565882,  1.        ]])

In [37]:
# Función para recomendar películas basadas en una película dada

def recommend_movies(movie_title, movies_df, similarity_matrix):
    movie_idx = movies_df[movies_df['title'] == movie_title].index[0]
    similarity_scores = list(enumerate(similarity_matrix[movie_idx]))
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    movie_indices = [i[0] for i in similarity_scores[1:]]  # Excluir la película en sí misma
    
    for i in movie_indices[:10]:
        print(movies_df.iloc[i]['title'])

In [38]:
print('recomendacion basada en Yu-Gi-Oh! GX\n')
recommended = recommend_movies('Yu-Gi-Oh! GX', generos, similarity_matrix)

recomendacion basada en Yu-Gi-Oh! GX

Nagi-Asu: A Lull in the Sea
Snow White with the Red Hair
World's End Harem
My Next Life as a Villainess: All Routes Lead to Doom!
The World God Only Knows
Ouran High School Host Club
Oreimo
My Teen Romantic Comedy SNAFU
Magical Sempai
The Helpful Fox Senko-san

In [39]:
pickle.dump(generos, open('genres_filter.pkl','wb'))
pickle.dump(similarity_matrix, open('similarity_genres.pkl','wb'))

In [40]:
genres_recommended=pickle.load(open('genres_filter.pkl','rb'))

In [41]:
genres_recommended.head(3)

,id_x,title,genres
0,ts21930,Lupin the Third,"[scifi, animation, action, comedy, crime]"
1,ts25177,Mobile Suit Gundam,"[scifi, war, animation, action, drama, fantasy]"
2,ts35087,Galaxy Express 999,"[scifi, action, drama, animation]"